body{
    background-color: #2E2754;
    color: #EAFDF8;
}

p{
    font-size: large;
}

h1{
    font-size: xx-large;
}

.alternate{
    color: #EAFDF8;
    background-color: #00000050;
    padding: 2ex;
}

a{
    color: #EAFDF8;
}